*.driveupload

### Archivos de usuario (VS)
**/*.rsuser
# Fuera de aqui
**/*.suo			
**/*.user
**/*.userosscache
**/*.sln.docstates

### Resultados de Builds
**/bld/
**/[Bb]in/*
!**/[Bb]in/User/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/

### Archivos de usuario (Local)
# "Quiero ser capaz de cambiar el puerto" -Jefe
Codigo/ProjectoNu-CaBuPa/ProjectoNu-CaBuPa/bin/User/User.txt  

### Odio el ve ese
**/.vs/

### Quiero usar vim
**~
Codigo/ProjectoNu-CaBuPa/ProjectoNu-CaBuPa/bin/User/Log.txt
Codigo/ProjectoNu-CaBuPa/ProjectoNu-CaBuPa/bin/User/Log.txt
