*.driveupload

# Archivos de usuario (VS)
**/*.rsuser
**/*.suo			# Fuera de aqui
**/*.user
**/*.userosscache
**/*.sln.docstates

# Resultados de Builds
**/bld/
**/[Bb]in/*
!**/[Bb]in/User/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/

# Archivos de usuario (Local)
Codigo/ProjectoNu-CaBuPa/ProjectoNu-CaBuPa/bin/User/User.txt	# "Quiero ser capaz de cambiar el puerto" -Jefe

# Odio el ve ese
**/.vs/

# Quiero usar vim
**~